apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: v1.16.2
controlPlaneEndpoint: {{ k8s_apiserver_advertised_endpoint }}
apiServer:
  timeoutForControlPlane: 4m0s
  certSANs: {{ [hostvars[inventory_hostname]['ansible_' + k8s_apiserver_iface].ipv4.address] | union(k8s_apiserver_all_public_endpoints) | to_yaml }}
dns:
  type: CoreDNS
certificatesDir: /etc/kubernetes/pki
imageRepository: k8s.gcr.io
clusterName: {{ k8s_cluster_name }}
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
bootstrapTokens:
  - ttl: 30m0s
    usages:
      - signing
      - authentication
localAPIEndpoint:
  advertiseAddress: {{ hostvars[inventory_hostname]['ansible_' + k8s_apiserver_iface].ipv4.address }}
  bindPort: 6443
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ k8s_apiserver_advertised_endpoint }}:6443
  timeout: 5m0s
controlPlane:
  localAPIEndpoint:
    advertiseAddress: {{ hostvars[inventory_hostname]['ansible_' + k8s_apiserver_iface].ipv4.address }}
    bindPort: 6443
